.wrap {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    padding: 10px;
    overflow: scroll;

}

.inner {
    width: 100%;
    height: 300px;
    background: aqua;
}

.v_col {
    align-self: flex-start;
    overflow: hidden;
}

.test-element {
    border: 5px solid red;
    width: 100%;
    box-sizing: border-box;
}